pyrogram
tgcrypto
py-tgcalls
yt-dlp
motor
dnspython
pykeyboard
requests
rich==3.2.0
unidecode
attrify
pyromod==1.1.0
pillow
html2text
youtube-search-python
aiofiles
aiohttp
python-arq
gpytranslate
python-dotenv
gtts
wget
