pyrogram
tgcrypto
py-tgcalls
yt-dlp
motor
dnspython
pykeyboard
requests
rich
unidecode
attrify
pyromod
pillow
html2text
youtube-search-python
aiofiles
aiohttp
python-arq
gpytranslate
python-dotenv
gtts
wget
